version: "3"
services:
  socialpost-api:
    image: ${DOCKER_HUB_USERNAME}/socialpost-fastapi
    ports:
      - 80:8000
    depends_on:
      - postgres
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER_NAME=${DB_USER_NAME}
      - DB_PWD=${DB_PWD}
      - SIGN_KEY=${SIGN_KEY}
      - SIGN_ALGORITHM=${SIGN_ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTE=${ACCESS_TOKEN_EXPIRE_MINUTE}
    command: bash -c "alembic upgrade head && uvicorn apps.main:app --host 0.0.0.0 --port 8000"
  postgres:
    image: postgres
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PASSWORD=${DB_PWD}
    volumes:
      - postgres-db:/var/lib/postgresql/data # save DB data.

volumes:
  postgres-db: