# This file is used to run the application as container locally during development.
version: "3"
services:
  api:
    build: . # build image using dockerfile
    image: socialpost-fastapi # name of the image to be built.
    ports:
      - 8000:8000
    depends_on:
      - postgres
    volumes:
      - ./:/usr/src/app:ro # bind mount when working in dev env.
    command: bash -c "alembic upgrade head && uvicorn apps.main:app --host 0.0.0.0 --port 8000 --reload" # Reload after changes (dev env).
    environment:
      - DB_HOST=postgres # DNS of the postgres container.
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER_NAME=${DB_USER_NAME}
      - DB_PWD=${DB_PWD}
      - SIGN_KEY=${SIGN_KEY}
      - SIGN_ALGORITHM=${SIGN_ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTE=${ACCESS_TOKEN_EXPIRE_MINUTE}      
  postgres:
    image: postgres
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PASSWORD=${DB_PWD}
    volumes:
      - postgres-db:/var/lib/postgresql/data # named volume for persisting DB data.

volumes:
  postgres-db:


